{% extends "base.html" %}
{% load static %}
{% block title %}<title>Brandon Hebel's Resume</title>{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'resume/style.css' %}">{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div id="header-div" class="row header" >
      <div class="col-12">
        <h1>Brandon Hebel</h1>
      </div>
      <div class="col-12 header">
        <table>
          <tbody>
            <tr>
              <td class="header"><i class="fa fa-cogs fa-3x"></i></td>
              <td class="header whitesmoke">Junior Web Developer & Software Engineer</td>
            </tr>
        </table>
      </div>
    </div> <!-- end #header-div -->
    <div  class="row">
      <div id="left-col" class="col-4 left-col">
        <div style="width: 100%; height: 33px; border-bottom: 2px solid black; text-align: left">
          <span class="left-col" style="font-size: 35px;">
            Contact<!--Padding is optional-->
          </span>
        </div>
        <br>
        <div class="contact"><i class="fa fa-map-marker fa-fw"></i>129 8th St, Baraboo, WI 53913</div>
        <div class="contact"><i class="fa fa-mobile fa-fw"></i>(608)333-1466</div>
        <div class="contact"><i class="fas fa-envelope fa-fw"></i>hebefrolfing@gmail.com</div>
        <div style="width: 100%; height: 33px; border-bottom: 2px solid black; text-align: left">
          <span class="left-col" style="font-size: 35px; padding: 0 10px;">
            Skills <!--Padding is optional-->
          </span>
        </div>
        <table class="table table-sm skill">
          <tr>
            <td class="left-col">
              <h5 class="skill">Java</h5>
              <div class="progress">
                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:72%">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="left-col">
              <h5 class="skill">HTML, CSS, jQuery, Bootstrap</h5>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar"
  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:66%">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="left-col">
              <h5 class="skill">Python and Django</h5>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar"
  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="left-col">
              <h5 class="skill">SQL Django ORM</h5>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar"
  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:55%">
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="left-col">
              <h5 class="skill">LAMP</h5>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar"
  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div id="right-col" class="col-8">
        <h4>Profile</h4>
        <p>This is where I talk a bit about myself and why I would be perfect for the job!
        <h4>Job History</h4>
        <h5>United States Army 2009-2013</h5>
        <h6>Badges Awarded</h6>
        <ul><li>Airborne</li><li>Parachute Rigger</li><li>Pathfinder</li></ul>
        <h4>Education</h4>
        <h5>University of Wisconsin</h5>
        <h5>Bachelor in Computer Science</h5>
        <h6>- General Business Minor</h6>
      </div>
    </div>
  </div>
  {% block script %}<script source="http://localhost:35729/livereload.js">{% endblock %}
{% endblock %}
